body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: white;
}

header{
  height: 10%;
}

.home {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #6717c2;
  text-decoration: none;
  color: inherit;
  justify-content: space-between;
}

h1 {
  margin: 0;
  color: #ffffff;
  padding: 20px;
}

.logo {
  max-width: 90px; 
  margin-left: 20px;
  float: left;
  margin-right: 20px;
}
p{
  text-align: center;
}

button {
  background-color: #350735;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
}

.sidebar {
  left: 0;
  height: 300%;
  width: 150px;
  background-color: #6717c2;
  padding-top: 0;
  visibility: hidden;
  position: relative;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  color: #af80e5;
}

H2{
  text-align: center;
  color: #ffffff;
}

span {
  color: #ff0000;
  text-align: center;
  display: none;
  visibility: hidden;
  font-size: 20px;
}

div.error > span {
  visibility: visible;
  display: block;
}

.rodape{
    text-align: center;
    color:#fff;
}
footer {

  bottom: 0;
  width: 100%;
  background-color: #6717c2; 
  color: #fff; 
  text-align: center;
  padding: 10px;
  position: absolute;
}

* {
  font-family: 'AR One Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 70%;
  background: #000000;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

a {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete {
  background-color: #f44336;
}

.delete:hover {
  background-color: #972921;
}

.edit:hover {
  background-color: #006385;
}

input{
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #a85cf0;
  border-radius: 5px;
  background-color: #1d0141;
  color: #ffffff;
  width: 95%
}

label, input {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #350735;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
}